*.h5 filter=lfs diff=lfs merge=lfs -text
imdb/multilingual_bert/onnx/model_quint8_avx2.onnx filter=lfs diff=lfs merge=lfs -text
imdb/multilingual_bert/onnx/model_O2.onnx filter=lfs diff=lfs merge=lfs -text
imdb/multilingual_bert/onnx/model_qint8_arm64.onnx filter=lfs diff=lfs merge=lfs -text
imdb/multilingual_bert/onnx/model_O3.onnx filter=lfs diff=lfs merge=lfs -text
imdb/multilingual_bert/onnx/model_O4.onnx filter=lfs diff=lfs merge=lfs -text
imdb/multilingual_bert/onnx/model_qint8_avx512.onnx filter=lfs diff=lfs merge=lfs -text
imdb/multilingual_bert/onnx/model.onnx filter=lfs diff=lfs merge=lfs -text
imdb/multilingual_bert/onnx/model_qint8_avx512_vnni.onnx filter=lfs diff=lfs merge=lfs -text
imdb/multilingual_bert/onnx/model_O1.onnx filter=lfs diff=lfs merge=lfs -text
imdb/multilingual_bert/openvino/openvino_model_qint8_quantized.bin filter=lfs diff=lfs merge=lfs -text
imdb/multilingual_bert/openvino/openvino_model.bin filter=lfs diff=lfs merge=lfs -text
imdb/multilingual_bert/tf_model.h5 filter=lfs diff=lfs merge=lfs -text
imdb/rich_movie_embeddings.pkl filter=lfs diff=lfs merge=lfs -text
.git/objects/f3/4d2379d7e0a7937d717e288a8cfcdd17b07e96 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/04/e8/04e8cc4ceedb65316f374f798b9428b491281e064b4cb6076e6abf0221256ac1 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/33/8e/338ef03c2838d5a659d36e1ce5b7a1dc2d2a66a430a9e6f499de6dc39f663850 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/16/cc/16cc9e54df6e083272378abec2d75dc34d7a48b5276db3ccc050d18de672ac59 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/10/f7/10f7a088420252b26caf819236ca2c9d2987afd0fc06fec7553b542a5655a05a filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/9a/e4/9ae4b831e992807334f18a91557661e94715f502a5c7248fb81675b08391e30f filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/98/a0/98a01d88b7de996cdea58c32ca71208c09968d143798814b2ea09d3439dc334f filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/30/7b/307bba13f9f5708461169c9f2d633c76c5572919bcc998606b6e5aea46f05db4 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/ea/a0/eaa086f0ffee582aeb45b36e34cdd1fe2d6de2bef61f8a559a1bbc9bd955917b filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/24/ac/24acd56a5f5ae4ba5b39c9593997ebb6d5da44a6439ef1d0757a70c70aadb7e3 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/24/26/2426785672da5afa2ca3ac1efae652499c72a3198e8e203d06f6d6e6c569d419 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/78/3f/783fea82d71a58179b830a4dbd2d58447e640609e98eedf9ffa12622d375a672 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/22/15/22150b6ba00e477c7f816f1988d028fff924e2b52e14540889690c72c5add40e filter=lfs diff=lfs merge=lfs -text
